<section>
    <h3>Patients list</h3>
    <ul class="table">
        <li>
            <span>Lastname</span>
            <span>Firstname</span>
            <span>Birthdate</span>
            <span>Gender</span>
            <span>Adress</span>
            <span>Phone</span>
        </li>
        <li *ngFor="let patient of patients">
            <span>{{ patient.lastName }}</span>
            <span>{{ patient.firstName }}</span>
            <span>{{ patient.birthdate }}</span>
            <span>{{ patient.gender }}</span>
            <span>{{ patient.address }}</span>
            <span>{{ patient.phone }}</span>
        </li>
    </ul>
</section>