<section>
    <nav>
        <li><span>Patients list</span></li>
    </nav>

    <h3>Patients list</h3>
    <div class="container">
        <button [routerLink]="['/patients-list/create-patient']">Add new patient</button>
    </div>
    <ul>
        <li>
            <span>Fullname</span>
            <span>Birthdate</span>
            <span>Gender</span>
            <span>Address</span>
            <span>Phone</span>
        </li>
        <li *ngFor="let patient of patients">
            <span><a [routerLink]="['/patient', patient.id]">{{ patient.lastName }} {{ patient.firstName}}</a></span>
            <span>{{ patient.birthdate }}</span>
            <span>{{ patient.gender }}</span>
            <span>{{ patient.address }}</span>
            <span>{{ patient.phone }}</span>
        </li>
    </ul>
</section>