ul.detail
    margin-top: 30px

    li
        grid-template-columns: 30% 70%

        & span:first-child
            font-weight: 500

.container
    display: flex
    justify-content: space-between
    width: 80%
    margin: auto

    .tag
        min-width: 120px
        min-height: 30px
        height: fit-content
        padding: 5px 10px
        border-radius: 3px
        font-weight: 500

        &.none
            background: #d1e7dd
            border: 1px solid #a3cfbb
            color: #0a3622
        
        &.borderline
            background: #fff3cd
            border: 1px solid #ffe69c
            color: #664d03
        
        &.danger
            background: #ffe4cd
            border: 1px solid #ffc09c
            color: #b15212

        &.early
            background: #f8d7da
            border: 1px solid #f1aeb5
            color: #58151c
    
    &.notes
        justify-content: space-between
        align-items: flex-end
        width: 75%
        padding: 30px 0 10px 0

        button
            min-height: 20px

ul.notes 
    display: flex
    flex-direction: column-reverse
    max-height: 200px
    overflow: auto

    li
        min-height: 30px
        padding: 4px
        font-size: 0.9em

p.notes 
    padding-top: 20px
    text-align: center
    font-style: italic
