<section>
    <nav>
        <a [routerLink]="['/patients-list']">Go back to patient list</a>
    </nav>

    <h3>Patient detail - {{ patient?.lastName }} {{ patient?.firstName }}</h3>
    <div class="container">
        <button *ngIf="patient" [routerLink]="['/patient', patient.id, 'update']">Update patient detail</button>
    </div>

    <ul>
        <li>
            <span>Lastname</span>
            <span>{{ patient?.lastName }}</span>
        </li>
        <li>
            <span>Firstname</span>
            <span>{{ patient?.firstName }}</span>
        </li>
        <li>
            <span>Birthdate</span>
            <span>{{ patient?.birthdate }}</span>
        </li>
        <li>
            <span>Gender</span>
            <span>{{ patient?.gender }}</span>
        </li>
        <li>
            <span>Address</span>
            <span>{{ patient?.address }}</span>
        </li>
        <li>
            <span>Phone</span>
            <span>{{ patient?.phone }}</span>
        </li>
    </ul>
</section>