<section>
    <nav>
        <a [routerLink]="['/patients-list']">Go back</a>
    </nav>

    <h3>Patient detail - Name</h3>
    <ul>
        <li>
            <span>Lastname</span>
            <span>Test</span>
        </li>
        <li>
            <span>Firstname</span>
            <span>TestNone</span>
        </li>
        <li>
            <span>Birthdate</span>
            <span>1966-12-30</span>
        </li>
        <li>
            <span>Gender</span>
            <span>F</span>
        </li>
        <li>
            <span>Address</span>
            <span>1 Brookside St</span>
        </li>
        <li>
            <span>Phone</span>
            <span>100-222-3333</span>
        </li>
    </ul>
</section>