<form (ngSubmit)="onSubmit()" [formGroup]="patientForm">
    <section>
        <nav>
            <app-logout></app-logout>
            <li>
                <a [routerLink]="['/patients-list']">Patients list</a>
            </li>
            <li *ngIf="patient">
                <a [routerLink]="['/patient', patient.id]">{{ patient.lastName }} {{ patient.firstName }}</a>
            </li>
            <li>
                <span *ngIf="patient">Update patient detail</span>
                <span *ngIf="!patient">Add new patient</span>
            </li>
        </nav>
        <h3 *ngIf="patient">Update detail - {{ patient.lastName }} {{ patient.firstName }}</h3>
        <h3 *ngIf="!patient">Add new patient</h3>

        <div class="container">
            <div class="field">
                <label for="lastname">
                    Lastname :
                    <div *ngIf="patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched">
                        <small *ngIf="patientForm.get('lastName')?.errors?.['required']">
                            Please enter the patient's lastname.
                        </small>
                    </div>
                </label>
                <input
                    id="lastname"
                    formControlName="lastName"
                    placeholder="Lastname"
                    [ngClass]="{'error': patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched}"
                    required
                >
            </div>
            <div class="field">
                <label for="firstname">
                    Firstname :
                    <div *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched">
                        <small *ngIf="patientForm.get('firstName')?.errors?.['required']">
                            Please enter the patient's firstname.
                        </small>
                    </div>
                </label>
                <input 
                    id="firstname" 
                    formControlName="firstName" 
                    placeholder="Firstname"
                    [ngClass]="{'error': patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched}"
                    required
                >
            </div>
            <div class="field">
                <label for="birthdate">
                    Birthdate :
                    <div *ngIf="patientForm.get('birthdate')?.invalid && patientForm.get('birthdate')?.touched">
                        <small *ngIf="patientForm.get('birthdate')?.errors?.['required']">
                            Please enter the patient's birthdate.
                        </small>
                    </div>
                </label>
                <input 
                    id="birthdate" 
                    formControlName="birthdate" 
                    type="date"
                    [ngClass]="{'error': patientForm.get('birthdate')?.invalid && patientForm.get('birthdate')?.touched}"
                    required
                >
            </div>
            <div class="field">
                <label for="gender">
                    Gender :
                    <div *ngIf="patientForm.get('gender')?.invalid && patientForm.get('gender')?.touched">
                        <small *ngIf="patientForm.get('gender')?.errors?.['required']">
                            Please enter the patient's gender.
                        </small>
                    </div>
                </label>
                <select 
                    id="gender" 
                    formControlName="gender"
                    [ngClass]="{'error': patientForm.get('gender')?.invalid && patientForm.get('gender')?.touched}"
                >
                    <option value="" disabled selected>Select the gender</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="field">
                <label for="address">Address :</label>
                <input id="address" formControlName="address" placeholder="Address">
            </div>
            <div class="field">
                <label for="phone">Phone :</label>
                <input id="phone" formControlName="phone" placeholder="Phone">
            </div>
        </div>
        
        <div class="submit">
            <button type="submit">Submit detail</button>
        </div>
    </section>
</form>
