<section class="login-form">
    <h3>Sign in</h3>
    <form>
        <div class="field">
            <label for="username">Username</label>
            <input id="username" placeholder="Username">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
        </div>
        <div class="field remember-me">
            <input type="checkbox"> Remember me
        </div>
        <button type="submit">Sign in</button>
    </form>
</section>