<section>
    <h3>Patients data</h3>
    <ul class="table">
        <li>
            <span>Lastname</span>
            <span>Firstname</span>
            <span>Birthdate</span>
            <span>Gender</span>
            <span>Adress</span>
            <span>Phone</span>
        </li>
        <li>
            <span>TestNone</span>
            <span>Test</span>
            <span>1966-12-31</span>
            <span>F</span>
            <span>1 Brookside St</span>
            <span>100.222.3333</span>
        </li>
        <li>
            <span>TestBorderline</span>
            <span>Test</span>
            <span>1945-06-24</span>
            <span>M</span>
            <span>2 High St</span>
            <span>200-333-4444</span>
        </li>
        <li>
            <span>TestInDanger</span>
            <span>Test</span>
            <span>2004-06-18</span>
            <span>M</span>
            <span>3 Club Road</span>
            <span>300-444-5555</span>
        </li>
        <li>
            <span>TestEarlyOnset</span>
            <span>Test</span>
            <span>2002-06-28</span>
            <span>F</span>
            <span>4 Valley Dr</span>
            <span>400-555-6666</span>
        </li>
    </ul>
</section>
