:root {
    --color-bg: #e9f6f9;
    --color-bg-main: #fefefe;
    --color-border: #cae3ea;
    --color-text: #271a38;
    --color-accent: #d53829;

    --font-title: "Montserrat Alternates", sans-serif;
    --font-main: "Montserrat", sans-serif;
}